
body {
    height: 100vh;
    display: flex;
    margin:0;
}

.main-container {
    width: 100%;   
}

.color-palette-header {
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: bold;
    font-size: 1.5rem;
    color: rgba(0,0,0,.55);
    margin-top: 10px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 800px) {
    .color-palette-header {
        flex-direction: column;
        position: fixed;
        bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.color-palette-header-brand
{
    display: inline-block;
    padding-left: 50px;
    text-decoration: none;
    color: rgba(0,0,0,.55);
    white-space: nowrap;
}

.color-palette-header-brand:hover
{
    text-decoration: none;
    color: rgba(0,0,0,.55);
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .color-palette-header-brand {
        display: none;        
    }
}

.color-palette-header-operations {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: 30px;
}

@media only screen and (max-width: 800px) {
    .color-palette-header-operations {
        margin-left: 0%;
        margin-right: 0%;
    }
}

.color-palette-header-operations a{
    white-space:nowrap;
    text-decoration: none;
    color: rgba(0,0,0,.55);

}
@media only screen and (max-width: 800px) {
    .color-palette-header-operations a{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.color-palette-header-operations li { 
    padding-left: 20px;
    padding-right: 20px;
}

.color-palette-container {
    display: flex;
    flex-direction: row;
    height: calc(100% - 47px);
}

@media only screen and (max-width: 800px) {
    .color-palette-container {
        flex-direction: column;
        height: calc(100% - 60px);
    }   
}

.color-palette-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .color-palette-item {
        flex-direction: row;
    }
}

.color-palette-item-operations {
    display: flex;
    flex-direction: column;
    text-align: center;
}
@media only screen and (max-width: 800px) {
    .color-palette-item-operations {
        flex-direction: row;
    }
}



.color-palette-item-operations div {
    flex-grow: 1;
    display: block;
    font-size: 1.7rem;
    padding: 10px;
}

.color-palette-item-operations div:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 7px;
}

.color-code  {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
}

.color-code:hover{
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 7px;
}

.lock-button  {
    font-size: 2rem;
    font-weight: bold;
    padding: 0 10px 0 10px;
}

.lock-button:hover{
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 7px;
}