body {
    
    margin:0;
}

.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    min-height: 250px;
}

@media only screen and (max-width:800px) {
    .main-container {
        flex-direction:column-reverse;
    }
}

.color-palette-header *{
    list-style: none;
    text-decoration: none;
    display: inline;
    color: rgba(0, 0, 0, .55);
    margin-top: 10px;
    margin-bottom: 10px;
}

.color-palette-header-brand {
    float:left;
    margin-left: 30px;
}
@media only screen and (max-width:800px) {
    .color-palette-header-brand {
        display: none;
    }
}

.color-palette-header-operations {
    float: right;
    margin-right: 30px;
}

@media only screen and (max-width:800px) {
    .color-palette-header-operations {
        display: flex;
        flex-basis: 100%;
        justify-content: center;
        align-items: center;
        float: none;
        padding: 0;
        margin: 0;
    }
}

.header-operation-item {
    margin: 5px 10px;
}

@media only screen and (max-width:800px) {
    .header-operation-item a *{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 5px;
    }
}    

.color-palette-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

 @media only screen and (max-width:800px) {
    .color-palette-container {
        flex-direction: column;
    }
}

.color-palette-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-basis: 100%;
}

@media only screen and (max-width:800px) {
    .color-palette-item {
        flex-direction: row;
    }
} 

@media only screen and (max-width: 800px){
    .color-palette-item-operations {
        display: flex;
        flex-direction: row;
    }
        
}


.color-palette-item-operations div {
    flex-grow: 1;
    display: block;
    font-size: 1.7rem;
    padding: 10px;
}

.color-palette-item-operations div:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 7px;
}


.color-code  {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
}

.color-code:hover{
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 7px;
}

.lock-button  {
    font-size: 2rem;
    font-weight: bold;
    padding: 0 10px 0 10px;
}

.lock-button:hover{
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 7px;
}